//main: theme.scss

.navbar-item img{
    max-height: 60px;
}

#map-container{
    display:flex;
    > div{
        flex: 1 1 50%;
    }
}

//el listado de etiquetas de las propiedades
.card-image-top{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    margin: .2em;
}
.list-inline{
    display: inline-flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    > li {
        margin: .2em;
    }
}
.list-vertical{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    > li {
        margin: .2em;
    }
}
ol.is-unstyled,
ul.is-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}



.prop-icon-type{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.prop-info{
    /*display:block;*/
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.prop-info .title,
.prop-info .subtitle,
.prop-info .price-block{
    /*display: block;*/
    margin: 0 !important;
    margin-bottom: .2em !important;
}

.is-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.is-same-height{
    .card {
        height: 100%;
        display:flex;
        flex-direction: column;

        .image img {
            height: 250px;
            object-fit: cover;
        }
    }
    .card-content{
        height: 100%;
    }
}

.has-background-dark .label{
    color: $light;
}
.map-search{
    overflow-y: auto;
    max-height: 100%;
    position: relative;

    .search-panel{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}
.map-search > .search-panel,
.map-search > .column{
    padding: 1.5rem;
}
.search-fields{
    $field-distance: .75rem;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    /*
    .label{
    display: none;
    }
    */
    .field{
        padding-right: $field-distance;
        //width: 50%;
        flex: 1;
        margin-bottom: $field-distance;
        &.field-search{
            flex-grow: 2;
        }
    }
    .map-search &{
        margin-right: -$field-distance;
        margin-bottom: -$field-distance;
        .label{
            display: none;
        }
        .field{
            width: 25%;
            flex: none;
            &.field-search,
            &.field-button{
                width:100%
            }
        }
    }
}

.main-modal .modal-card{
    width: 80vw;
    .modal-card-body{
        padding: 0
    }
}
/*
#bodyContent .level{
    margin-bottom: 1rem;
}
*/


.widget{
    margin-bottom: 1.5rem;
}
