//main: theme.scss
.review-content{
    background: #fff;
    padding: 4em 2em;
    border-radius:3px;
    margin-top: -4em;
}
.review-list{
    .review {
    }
}

.review{
    .content{
        background: #fafafa;
        padding: 40px;
    }
    .user{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .picture{

            img{
                object-fit:cover;
            }
        }
        .name{
            font-weight:bold;
        }
    }
}
