//main: theme.scss
/*
#main-slider{
    background: white;
    position: relative;

    > div{
        position: absolute;
    }
    > div,
    > div > div,
    .slide-item{
        height: 100% !important;
    }

    .slide-item{
        border-radius: 2px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;


    }
}
*/
.swiper-slide{
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        .center-top{
            align-items: start;
            justify-content: center;
        }
        .left-top{
            align-items: start;
            justify-content: left;
        }
        .right-top{
            align-items: start;
            justify-content: right;
        }
        .center-center{
            align-items: center;
            justify-content: center;
        }
        .left-center{
            align-items: center;
            justify-content: left;
        }
        .right-center{
            align-items: center;
            justify-content: right;
        }
        .center-bottom{
            align-items: end;
            justify-content: center;
        }
        .left-bottom{
            align-items: end;
            justify-content: left;
        }
        .right-bottom{
            align-items: end;
            justify-content: right;
        }
    }
}

.swiper-slide{
    .content{
        font-size: 30px;
        color: $white;
    }
    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
        color: inherit;
    }
}
.swiper-container{
    margin-bottom: -50px;
}
.search-panel{
    position: relative;
    z-index: 1;
}

/*
#main-thumbnail{
    text-align: center;
    img{
        border-radius: 2px;
        max-width: 100%;
        height: auto;
    }
}
*/
