//main: theme.scss
#main-slider{
    background: white;
    /*margin-bottom: 1em;*/

    position: relative;

    > div{
        position: absolute;
    }
    > div,
    > div > div,
    .slide-item{
        height: 100% !important;
    }



    .slide-item{
        border-radius: 2px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;


        .content{
            display: flex;
            box-sizing: border-box;
            //padding: 5%;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        .center-top{
            align-items: start;
            justify-content: center;
        }
        .left-top{
            align-items: start;
            justify-content: left;
        }
        .right-top{
            align-items: start;
            justify-content: right;
        }
        .center-center{
            align-items: center;
            justify-content: center;
        }
        .left-center{
            align-items: center;
            justify-content: left;
        }
        .right-center{
            align-items: center;
            justify-content: right;
        }
        .center-bottom{
            align-items: end;
            justify-content: center;
        }
        .left-bottom{
            align-items: end;
            justify-content: left;
        }
        .right-bottom{
            align-items: end;
            justify-content: right;
        }
    }
}

#main-thumbnail{
    text-align: center;
    img{
        border-radius: 2px;
        max-width: 100%;
        height: auto;
    }
}
