//main: theme.scss
html{
    font-size: 14px;
}
body{
    //font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body, button, input, optgroup, select, textarea{
    font-family: 'Poppins', sans-serif;
}
.section {
    padding: 1.5rem;
}
.section-mobile{padding: 0;}
@media(max-width:($desktop - 1px)){
    .section-mobile{
        padding: 1.5rem;
    }
}

.breadcrumb{
    padding: 1rem 0;
}

.button.is-secondary{
    background-color: $blue;
    border-color: transparent;
    color: #fff;
}

.widget{
    margin: .75rem 0;
}

.title{
    display: block;
    margin-bottom: 0;
    /*font-weight: 400;*/
    font-weight: 600;
    text-transform: uppercase;
    &.is-5{
        font-size: 16px;
        margin-bottom: .5rem;
    }
    &.is-2{
        font-size: 22px;
        margin-bottom: .5rem;
    }
    &.is-1{
        font-size: 32px;
        /*margin-bottom: .5rem;*/
    }
    &.is-bold{
        font-weight: bold;
        font-weight: 600;
    }
    &.is-normal{
        font-weight: 400;
    }
}

.title-secondary{
    background: $secondary;
    color: $white;
    padding: .75rem;
    margin-bottom: .75rem;
    text-align: center;
}

.entry{
    font-size: 16px;
}
.block-title{
    color: $secondary;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    .title{
        color: inherit;
    }
}
.block-content{
    padding: 1em 0;
}

.list-2-cols{
    display: flex;
    flex-flow: row wrap;
    li{
        flex: 0 1 50%;
        line-height: 3em;
    }

    &.caract{
        flex-direction: column;
        height: calc( 3em * 9 );
        li{
            flex: 0;
            line-height: 3em;
        }
    }

}

/*
.list-2-cols{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 20em;

    li{
        width: 50%;
        height: 1em;
        margin: .5em;
    }

}
*/

/*
.navbar{
z-index: 100;
}
.navbar.is-transparent{
background: transparent;
.navbar-item{
color: $white;
}
}
.navbar-item#logo{
background: $white
}
*/

.search-panel{
    //padding: .75rem;
    //background: $grey-lightest;
    background: $secondary;
    color: $white;
    text-transform: uppercase;

    //background: $dark;
    .label{
        //color: $light;
    }
}


/* styling */
#page-wrap {
    background: #fafafa;
}
.card-header{
    box-shadow: unset;
}
.card-header-title{
    padding: 1rem;
    //padding: 1.5rem 1.5rem .75rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-footer-padding{
    padding: 1rem;
    //padding: .75rem 1.5rem .75rem;
    //padding: .75rem 1.5rem;
}
.price-block{
    padding-bottom: .5rem 0;
}

.is-sticky-container{
    position: relative;
}
.is-sticky{
    position: sticky;
    top: 10;
    .admin-bar &{
        top: 42px;
    }
}


#footer{
    padding: 1.5rem 0;
    background: $grey-lightest;
}
#copyright{
    &:empty{
        display: none;
    }
    padding: .75rem 0;
    margin-top: 1.5rem;
    margin-bottom: -1.5rem;
    background: $grey-light;
    color: #fff;
    .loungelogo img{
        line-height: 40px;
        vertical-align: middle;
    }
}

#topbar{
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
    padding: .75rem 0;
}
#topbar .level{
    padding: 0 .75rem;
}
#topbar [class^="icon-"],
#topbar [class*=" icon-"]{
    color: #D62A08;
    font-size: 20px;
    margin-right: .25rem;
}

.widget .wpcf7-form label {
    padding: 0 2% 2%;
}
