
.cmb-group-title{
    background-color: #f6f7f7 !important;
}
.widget-content .cmb-row{
    padding: 0 !important;
}
.widget-content .cmb-th, .widget-content .cmb-td{
    float: none !important;
    padding: 0 !important;
    width: auto !important;
}

.widget-content label{
    padding: 0;
    font-weight: normal
}
.widget-content .cmb2-wrap .cmb-row{
    margin: 1em 0;
}
.widget-content .cmb2-wrap .regular-text{
    width: 400px;
}
.widget-content .cmb2-nested .cmb-row{
    display: flex;
}
/*
.widget-content .cmb-type-group .cmb-td,
.cmb-repeatable-group .cmb2-upload-button
*/
.widget-content .cmb2-upload-button{
    float: none !important;
    margin-bottom: 10px;
}
.widget-content .cmb-remove-field-row{
    display: none;
}
.widget-content .inside{
    padding: 0 10px !important;
}
.widget-content .cmb-repeatable-group .cmb-group-title{
    margin:0 !important;
}
.widget-content .cmb-group-title{
    min-height:40px!important;
}
.widget-content .cmbhandle{
    right: unset!important;
}

.cmb2-wrap .cmb2_select {
    margin-top: 0 !important;
}

.cmb-type-group .cmb2-wrap > .cmb-field-list > .cmb-row,
.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row {
    padding: 1em 0 !important;
    margin-bottom: 0;
}


#side-sortables .cmb-row .cmb2_select{
    width: 100%;
}
#side-sortables .cmb-row .cmb-th,
#side-sortables .cmb-row .cmb-td,
#side-sortables .cmb-row .cmb-td .cmb2-metabox-description {
    padding-bottom: 0;
}

#tagsdiv-condition,
#tagsdiv-interior,
#tagsdiv-additional{
    display: none;
}
